/* <!-- 기본 클래스 --> */
/* .pull-right { float: right; } */

/* <!-- 네비게이션 --> */
#main-navigation {
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    background-color: white;
    /* margin-top: 130px; */
    margin-bottom: 8px;
    height: 40px;
    /* position: fixed; */
}
.pull-left { float: left; }

.menu-title {
    display: block;
    height: 30px; line-height: 40px;
    text-align: center;
    width: 130px;
}

.menu-title > a {
    padding: 0 20px;
    color: black;
}
.menu-title > a:hover {
    padding: 0 20px;
    background: black;
    font-weight: bold;
    color: red
}