
/* 부모태그에 flex 적용 */
#main-navigation {
    display: flex;
    justify-content: flex-start;
    background-color: paleturquoise;
}

/* 검색엔진 */
.pull-right {
    margin: left auto;
}

.outer-menu {
    display: flex;
    justify-content: flex-start;
    width: 630px;
    font-size: 15px;
    background-color: pink;
}

.outer-menu a:hover {
    background-color: black;
    color: white;
    padding: 0px 20px;
}

.outer-menu a {
    padding: 0px 20px;
}

.search-bar {
    width: 230px;
    height: 26px;
    padding: 0px 20px;
    background-color: crimson;
    display: flex;
    align-items: center;
}

.input-search {
    width: 100px;
    height: 15px;
}

.input-search-submit {
    margin: 0px 2px;
    height: 20px;
    font-size: 13px;
}