#signup {
  /* background: #fff; */
  /* border: 1px solid #222; */
  /* border-radius: 5px; */
  padding: 20px;
  /* width: 800px; */
  margin: 0px auto;
  margin-top: 160px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  line-height: 35px;
  font-size: 12px;
  width: 100%;
}

div {
  padding-top: 3px;
  padding-bottom: 8px;
}

.title {
  text-align: center;
  font-weight: 700;
}

.phone {
  width: 100%;
}
#phone1 {
  width: 20%;
}
#phone2,
#phone3 {
  width: 37.6%;
}

button {
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
}

input:invalid {
  background-color: lightgray;
}
