#content {
    background-color: lightskyblue;
    font-size: small;
    height: 300px;
    margin-left: 20px;
}

#main-section {
    background-color: lightcoral;
    float: left;
    width: 650px;
}

.article-header {
    font-size: small;
    margin-top: 6px;
}

.article-body {
    font-size: xx-small;
    margin-left: 5px;
}

.article-body img {
    float: left;
    margin: 5px 10px;
    width: 230px;
}

#main-aside {
    background-color: lightpink;
    float: right;
    width: 230px;
}

.aside-list {
    margin-bottom: 5px;
    font-size: x-small;
}

.aside-list-item {
    margin: 5px;
}

#main-footer {
    font-size: x-small;
    margin: 10px 20px;
}

/* 해당 속성이 걸린 부분부터 플롯 적용 안됨 */
#clear-float {
    clear: both;
}