/* 메뉴 */
.pull-left {
    float: left;
}

/* 검색엔진 */
.pull-right {
    float: right;
}

#main-navigation {
    height: 30px;
    background-color: aqua;
}

.menu-title {
    float: left;
    font-size: medium;
}

.menu-title > a {
    padding: 0 20px;
}

.menu-title > a:hover {
    padding: 0 20px;
    background-color: black;
    color: white;
}

.search-bar {
    background-color: coral;
    width: 230px;
}

.input-search {
    float: left;
    height: 15px;
    width: 120px;
    margin-right: 3px;
}

.input-search-submit {
    float: left;
    height: 20px;
    font-size: 13px;
}